fastapi==0.110.0
uvicorn==0.27.1
langchain==0.1.16
langchain-community==0.0.34
langchain-text-splitters==0.0.1
langchain-core==0.1.53
transformers==4.40.2
tokenizers==0.19.1
sentence-transformers==2.6.1
faiss-cpu==1.7.4
pypdf==4.1.0
accelerate==0.28.0
pydantic==1.10.13
chainlit==1.1.202
bitsandbytes==0.43.1
dvc==3.66.1
redis==7.2.1
orch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
aiohttp==3.13.3